@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main
{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
/* ::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
} */
h1
{
    text-align: center;
}
.titulo
{
    font-family: "Krona One", sans-serif;
    color: white;
}

#container
{ 
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #8a2be2;
    border-radius: 8px;
    padding: 100px;
    margin: 10px;
    box-shadow: 0px 0px 800px 100px #892be223;
}
.usuario_senha
{
    width: 400px;
    height: 50px;
    border: 1px solid #8a2be2;
    border-radius: 8px;
    font-family: "Krona One", sans-serif;
    background-color: #892be23d;
    text-indent: 7px;
    color: white;
}



.texto
{
    font-family: "Krona One", sans-serif;
    color: white;
    font-size: 0.8em;

}

#botao
{
    border: 3px solid #8a2be2;
    border-radius: 8px;
    font-family: "Krona One", sans-serif;
    width: 300px;
    height: 50px;
    color: rgba(128, 128, 128, 0.781);
    background-color: #892be23d;
    transition: color 0.5s, box-shadow 0.5s;
}

#botao:hover
{
    color: white;
    box-shadow: 0px 0px 20px 2px #892be262;

}

@media (max-width: 627px)
{
    #container
    {
        padding: 20px;
    }

}
@media (max-width: 462px)
{
    #container
    {
        padding: 10px;
    }
    .usuario_senha
    {
        width: 300px;
    }
    #botao
    {
        width: 150px;
    }
}